<ion-header>
  <ion-toolbar>
    <ion-title>farmacias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col size="6">
        <ion-card class="welcome-card">
            <ion-img src="/assets/fondo1.jpg"></ion-img>
            <ion-card-header>
              <ion-card-subtitle>Farmacia</ion-card-subtitle>
              <ion-card-title>Los mejores medicamentos</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>Lo esperamos el dia viernes bla bla bla bla Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ullam explicabo omnis mollitia hic repudiandae aperiam autem totam dolorum necessitatibus eos reiciendis reprehenderit saepe, sit perferendis. Blanditiis fuga nobis consequatur?</p>
            </ion-card-content>
            <ion-button>
            <ion-icon name="send"></ion-icon>
              ingrid
            </ion-button>
          </ion-card>
    </ion-col>
    <ion-col size="6">
        <ion-card class="welcome-card">
            <ion-img src="/assets/fondo1.jpg"></ion-img>
            <ion-card-header>
              <ion-card-subtitle>Farmacia</ion-card-subtitle>
              <ion-card-title>Los mejores medicamentos</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>Lo esperamos el dia viernes bla bla bla bla Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ullam explicabo omnis mollitia hic repudiandae aperiam autem totam dolorum necessitatibus eos reiciendis reprehenderit saepe, sit perferendis. Blanditiis fuga nobis consequatur?</p>
            </ion-card-content>
            <ion-button>
            <ion-icon name="send"></ion-icon>
              ingrid
            </ion-button>
          </ion-card>
    </ion-col>
    <ion-col size="6">
        <ion-card class="welcome-card">
            <ion-img src="/assets/fondo1.jpg"></ion-img>
            <ion-card-header>
              <ion-card-subtitle>Farmacia</ion-card-subtitle>
              <ion-card-title>Los mejores medicamentos</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>Lo esperamos el dia viernes bla bla bla bla Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ullam explicabo omnis mollitia hic repudiandae aperiam autem totam dolorum necessitatibus eos reiciendis reprehenderit saepe, sit perferendis. Blanditiis fuga nobis consequatur?</p>
            </ion-card-content>
            <ion-button>
            <ion-icon name="send"></ion-icon>
              ingrid
            </ion-button>
          </ion-card>
    </ion-col>
    <ion-col size="6">
        <ion-card class="welcome-card">
            <ion-img src="/assets/fondo1.jpg"></ion-img>
            <ion-card-header>
              <ion-card-subtitle>Farmacia</ion-card-subtitle>
              <ion-card-title>Los mejores medicamentos</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>Lo esperamos el dia viernes bla bla bla bla Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ullam explicabo omnis mollitia hic repudiandae aperiam autem totam dolorum necessitatibus eos reiciendis reprehenderit saepe, sit perferendis. Blanditiis fuga nobis consequatur?</p>
            </ion-card-content>
            <ion-button>
            <ion-icon name="send"></ion-icon>
              ingrid
            </ion-button>
          </ion-card>
    </ion-col>
    <ion-col size="6">
        <ion-card class="welcome-card">
            <ion-img src="/assets/fondo1.jpg"></ion-img>
            <ion-card-header>
              <ion-card-subtitle>Farmacia</ion-card-subtitle>
              <ion-card-title>Los mejores medicamentos</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>Lo esperamos el dia viernes bla bla bla bla Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ullam explicabo omnis mollitia hic repudiandae aperiam autem totam dolorum necessitatibus eos reiciendis reprehenderit saepe, sit perferendis. Blanditiis fuga nobis consequatur?</p>
            </ion-card-content>
            <ion-button>
            <ion-icon name="send"></ion-icon>
              ingrid
            </ion-button>
          </ion-card>
    </ion-col>
    <ion-col size="6">
        <ion-card class="welcome-card">
            <ion-img src="/assets/fondo1.jpg"></ion-img>
            <ion-card-header>
              <ion-card-subtitle>Farmacia</ion-card-subtitle>
              <ion-card-title>Los mejores medicamentos</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>Lo esperamos el dia viernes bla bla bla bla Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ullam explicabo omnis mollitia hic repudiandae aperiam autem totam dolorum necessitatibus eos reiciendis reprehenderit saepe, sit perferendis. Blanditiis fuga nobis consequatur?</p>
            </ion-card-content>
            <ion-button>
            <ion-icon name="send"></ion-icon>
              ingrid
            </ion-button>
          </ion-card>
    </ion-col>
    <ion-col size="6">
        <ion-card class="welcome-card">
            <ion-img src="/assets/fondo1.jpg"></ion-img>
            <ion-card-header>
              <ion-card-subtitle>Farmacia</ion-card-subtitle>
              <ion-card-title>Los mejores medicamentos</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>Lo esperamos el dia viernes bla bla bla bla Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ullam explicabo omnis mollitia hic repudiandae aperiam autem totam dolorum necessitatibus eos reiciendis reprehenderit saepe, sit perferendis. Blanditiis fuga nobis consequatur?</p>
            </ion-card-content>
            <ion-button>
            <ion-icon name="send"></ion-icon>
              ingrid
            </ion-button>
          </ion-card>
    </ion-col>
    <ion-col size="6">
        <ion-card class="welcome-card">
            <ion-img src="/assets/fondo1.jpg"></ion-img>
            <ion-card-header>
              <ion-card-subtitle>Farmacia</ion-card-subtitle>
              <ion-card-title>Los mejores medicamentos</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>Lo esperamos el dia viernes bla bla bla bla Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ullam explicabo omnis mollitia hic repudiandae aperiam autem totam dolorum necessitatibus eos reiciendis reprehenderit saepe, sit perferendis. Blanditiis fuga nobis consequatur?</p>
            </ion-card-content>
            <ion-button>
            <ion-icon name="send"></ion-icon>
              ingrid
            </ion-button>
          </ion-card>
    </ion-col>
  </ion-row>
</ion-content>